body {
  background-color: #ecf0f1;
}

.bigScreen {
  background-color: #f1c40f;
}

.mediumScreen {
  background-color: #9b59b6;
}

.smallScreen {
  background-color: #3498db;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
